QWidget
{
	border: 0px;
	background: #223;
    font-size: 16px;
    color: #c0c0c0;
}

QLineEdit
{
    color: #fff;
    padding-bottom: 3px;
    padding-left: 10px;
    border-left: 2px solid #9b9;
}

QCheckBox::indicator:unchecked
{
    background: url(resources/unchecked.png);
}

QCheckBox::indicator:checked
{
    background: url(resources/checked.png);
}

QPushButton
{
    padding: 2px;
}

QPushButton:Hover
{
    background: #ddd;
}

QMainWindow
{
	background: #223;
}

QLayout
{
	background: #223;
}

QLabel
{
	border: 0px;
	color: #fff;
	background: none;
}

QScrollBar:vertical
{
   border: 0px;
   background: #223;
	width:10px;
	margin: 0px 0px 0px 0px;
}

QScrollBar::handle
{
	background: #70f8ba;
	margin: 2px;
	border-radius: 2px;
}

QScrollBar::add-line
{
	height: 0 px;
}

QScrollBar::sub-line
{
	height: 0 px;
}

QScrollBar::add-page, QScrollBar::sub-page {
    background: #223;
}