#PeoplePanel
{
    background: #231840;
}

#Left, #LeftScrollArea
{
    background: #231840;
}

#LeftBlockLabel
{
    font-family: 'Arial';
    color: #c0c0c0;
    font-size: 20px;
    padding-top: 5px;
}

#PeopleSearchLine
{
    color: #c0c0c0;
    font-size: 22px;
    background: #231840;
    padding-bottom: 3px;
    margin-right: 5px;
    border-left: none;
    border-bottom: 1px solid #aaa;
}

#PersonBox
{
    background: #2B2042;
}

#PersonBox:hover
{
    background: #3B3052;
}

#PersonName
{
    font-size: 18px;
    color: #FFF;
}

#StatusOff
{
    font-size: 12px;
    color: #DAB79B;
}

#StatusOn
{
    font-size: 12px;
    color: #9FB96F;
}