#AddButton {
    background: url(resources/green.png);
}

#AddButton:hover {
    background: url(resources/add.png);
}

#WhiteButton {
    background: url(resources/white.png);
}

#GreenButton {
    background: url(resources/green.png);
}

#RedButton {
    background: url(resources/red.png);
}

#RemoveButton {
    background: url(resources/remove.png);
}